# Actualizar Repos
commands:
  10CopiaRepos:
  #   command: ls
    command: rm -rf /etc/yum.repos.d/webtatic*
    command: cp -rf .ebextensions/nginx/repos/webtatic* /etc/yum.repos.d/.
  #  command: sudo cp -rf .ebextensions/nginx/repos/webtatic* /home/.
  
  020_actualizar_repos:
    command: yum update -y
