files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;

  "/etc/nginx/conf.d/02_app_server.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # The content of this file is based on the content of /etc/nginx/conf.d/webapp_healthd.conf

      # Change the name of the upstream because it can't have the same name
      # as the one defined by default in /etc/nginx/conf.d/webapp_healthd.conf
      upstream new_upstream_name {
        server unix:///var/run/puma/my_app.sock;
      }

      # Change the name of the log_format because it can't have the same name
      # as the one defined by default in /etc/nginx/conf.d/webapp_healthd.conf
      log_format new_log_name_healthd '$msec"$uri"'
                      '$status"$request_time"$upstream_response_time"'
                      '$http_x_forwarded_for';

      server {


                listen 80 default_server;
                listen [::]:80 default_server ipv6only=on;

                root /var/www/laravel/public;
                index index.php index.html index.htm;

                # Make site accessible from http://localhost/
                server_name localhost;

                location / {
                        # First attempt to serve request as file, then
                        # as directory, then fall back to displaying a 404.
                        try_files $uri $uri/ /index.php?$query_string;
                        # Uncomment to enable naxsi on this location
                        # include /etc/nginx/naxsi.rules
                }
                location ~ \.php$ {
                        try_files $uri =404;
                        fastcgi_split_path_info ^(.+\.php)(/.+)$;
                        fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
                        fastcgi_index index.php;
                        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                        include fastcgi_params;
                }






        #location / {
        #  # Match the name of upstream directive which is defined above
        #  proxy_pass http://new_upstream_name;
        #  proxy_set_header Host $host;
        #  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #}
        #
        #location /assets {
        #  alias /var/www/html/public/assets;
        #  gzip_static on;
        #  gzip on;
        #  expires max;
        #  add_header Cache-Control public;
        #}
        #
        #location /public {
        #  alias /var/www/html/public;
        #  gzip_static on;
        #  gzip on;
        #  expires max;
        #  add_header Cache-Control public;
        #}
        #
        #location /files {
        #  alias /var/www/html/public/ridiculously/long/path/to/files;
        #  gzip_static on;
        #  gzip on;
        #  expires max;
        #  add_header Cache-Control public;
        #}
      }

#container_commands:
#  01_reload_nginx:
#    command: "sudo service nginx reload"
#  02_remove_webapp_healthd:
#    command: "rm -f /opt/elasticbeanstalk/support/conf/webapp_healthd.conf /etc/nginx/conf.d/webapp_healthd.conf"