files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;

  "/etc/nginx/conf.d/02_app_server.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
     server {
             #listen 80 default_server;
             #listen [::]:80 default_server ipv6only=on;

             root /var/www/html/public;
             index index.php index.html index.htm;

             # Make site accessible from http://localhost/
             #server_name http://millonarios-dev.w4seish6ge.us-east-1.elasticbeanstalk.com;

             location / {
                     # First attempt to serve request as file, then
                     # as directory, then fall back to displaying a 404.
                     try_files $uri $uri/ /index.php?$query_string;
                     # Uncomment to enable naxsi on this location
                     # include /etc/nginx/naxsi.rules
             }
             location ~ \.php$ {
                     try_files $uri =404;
                     fastcgi_split_path_info ^(.+\.php)(/.+)$;
                     fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
                     fastcgi_index index.php;
                     fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                     include fastcgi_params;
             }
     }

#container_commands:
#  01_reload_nginx:
#    command: "sudo service nginx reload"
#  02_remove_webapp_healthd:
#    command: "rm -f /opt/elasticbeanstalk/support/conf/webapp_healthd.conf /etc/nginx/conf.d/webapp_healthd.conf"