files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/05_DumpMysqlToS3.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ENV=$(/opt/elasticbeanstalk/bin/get-config environment --output YAML|awk -F ": " '/APP_ENV/ {print $2}')
      USER=$(/opt/elasticbeanstalk/bin/get-config environment --output YAML|awk -F ": " '/DB_USERNAME/ {print $2}')
      PASSWD=$(/opt/elasticbeanstalk/bin/get-config environment --output YAML|awk -F ": " '/DB_PASSWORD/ {print $2}')
      HOST=$(/opt/elasticbeanstalk/bin/get-config environment --output YAML|awk -F ": " '/DB_HOST/ {print $2}')
      DBNAME=$(/opt/elasticbeanstalk/bin/get-config environment --output YAML|awk -F ": " '/DB_DATABASE/ {print $2}')
      NAMEFILE="dump."$ENV.$(date +%Y%m%d-%H.%M)
      case $ENV in
      produccion )
         #echo "Esto es Produccion"
         mysqldump -h $HOST -u $USER -p$PASSWD $DBNAME | gzip > /tmp/$NAMEFILE.gz
         ;;
      staging )
         #echo "Esto es Staging"
         mysqldump -h $HOST -u $USER -p$PASSWD $DBNAME | gzip > /tmp/$NAMEFILE.gz
         ;;
      develop )
         #echo "Esto es develop"
         mysqldump -h $HOST -u $USER -p$PASSWD $DBNAME | gzip > /tmp/$NAMEFILE.gz
         ;;
      esac
      # Copio al s3
      aws s3 cp /tmp/$NAMEFILE.gz s3://2ways-backup-databases/millonarios/$ENV/
      # Lo elimino
      rm /tmp/$NAMEFILE.gz
