## Install nginx and php71-fpm
packages:
  yum:
    nginx: []
    php71-fpm: []
    dos2unix: []

## Stop apache, add nginx / php-fpm boot up and environment config
commands:
  #005_intall_php:
  #  command: yum install php71w-fpm -y --nogpgcheck 
  010_stop_apache:
    test: service httpd status | grep running
    command: service httpd stop
  020_nginx_env:
    command: touch /etc/nginx/fastcgi_params_env
  030_nginx_boot:
    command: chkconfig nginx on
  040_php_fpm_boot:
    command: chkconfig php-fpm on

## Update the Elasticbeanstalk environment and config files
container_commands:
  ## Make all .sh scripts executable
  001_sh_executable:
    command: find .ebextensions/nginx/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
  010_hooks:
    command: cp -rf .ebextensions/nginx/hooks/* /opt/elasticbeanstalk/hooks/
  011_conv_DU:
    command: dos2unix /opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_app_server.sh
    command: dos2unix /opt/elasticbeanstalk/hooks/configdeploy/enact/98_nginx_env.sh
    command: dos2unix /opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh
  012_conv_DU2:
    command: dos2unix /opt/elasticbeanstalk/hooks/appdeploy/post/02_restart_healthd.sh
    command: dos2unix /opt/elasticbeanstalk/hooks/restartappserver/enact/01_restart.sh
  020_support:
    command: cp -rf .ebextensions/nginx/support/* /opt/elasticbeanstalk/support/
  030_tasks:
    command: cp -rf .ebextensions/nginx/tasks/* /opt/elasticbeanstalk/tasks/
  ## Se copia el archivo de Conf de nginx
  040_nginx_conf:
    command: cp -f .ebextensions/nginx/config/nginx/nginx.conf /etc/nginx/nginx.conf
  ## Se configura el modulo de php en el nginx
  050_nginx_default_conf:
    command: cp -f .ebextensions/nginx/config/nginx/php.conf-7.1 /etc/nginx/default.d/php.conf-7.1
  ## 
  060_php_fpm_conf:
    command: cp -f .ebextensions/nginx/config/php-fpm/php-fpm.conf /etc/php-fpm-7.1.conf
  ## Este genero conflicto esa carpeta en etc no existe 
  ## Solucion: Se cambio en el nombre de la carpeta /etc/php-fpm-7.1.d a /etc/php-fpm.d
  070_www_pool_conf:
    command: cp -f .ebextensions/nginx/config/php-fpm/www.conf /etc/php-fpm.d/www.conf
  080_healthd_nginx_cron_conf:
    command: cp -f .ebextensions/nginx/config/cron/healthd.nginx.conf /etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf
  090_cron_executable:
    command: chmod +x /etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf
  ## Uncomment the following for gzip and real_ip configs. Be sure to rename the files in
  ## the /nginx/config/nginx directory!!
  #100_gzip_conf:
  #  command: cp -f .ebextensions/nginx/config/nginx/gzip.conf /etc/nginx/conf.d/gzip.conf
