packages:
  yum:
    mod24_ssl: []
container_commands:
  10_aws_s3_descarga:
    command: aws s3 cp s3://apps-credentials-us-east-1/millonarios/letsencrypt/ /etc/letsencrypt/ --recursive
  20_disenable_old_site:
    command: mv /etc/httpd/conf.d/ssl.conf /etc/httpd/conf.d/ssl.conf.org.disable
  30_enable_new_site:
    command: aws s3 cp s3://apps-credentials-us-east-1/millonarios/Apache/ssl.conf /etc/httpd/conf.d/ssl.conf
  40_restart_service:
    command: /sbin/service httpd restart
