## Install nginx and php71-fpm
#packages:
#  yum:
#    nginx: []
#    php71-fpm: []
#    dos2unix: []

commands:
  010_crear_estructura_letscript:
    command: mkdir -p /etc/letsencrypt/live/appmillonariosfc.com
    command: mkdir -p /etc/ssl/certs
#  020_colocar_cert1:
#    command: cp -rf .ebextensions/ssl/cert/* /etc/letsencrypt/live/appmillonariosfc.com/
    #command: cp -rf .ebextensions/ssl/cert/privkey1.pem /etc/letsencrypt/live/appmillonariosfc.com/
#  021_colocar_cert2:
#    command: cp -rf .ebextensions/ssl/cert/fullchain1.pem /etc/letsencrypt/live/appmillonariosfc.com/
  022_colocar_cert3:
    command: cp -rf .ebextensions/ssl/cert/dhparam.pem /etc/ssl/certs/
  030_colocar_confi_nginx:
    command: cp -rf .ebextensions/ssl/config/03_ssl_app_server.conf /etc/nginx/conf.d/
  040_reniciar_ngix:
    command: service nginx restart   
#container_commands:
  #001_sh_executable:
    #command: find .ebextensions/nginx/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
  #010_hooks:
    #command: cp -rf .ebextensions/nginx/hooks/* /opt/elasticbeanstalk/hooks/
