## Install nginx and php71-fpm
packages:
  yum:
    nginx: []
    #dos2unix: []
#################################
# Archivo de configuracion nginx#
#################################
files:
  "/etc/nginx/nginx.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      user nginx;
      worker_processes auto;
      error_log /var/log/nginx/error.log;
      pid /var/run/nginx.pid;
      # Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
      include /usr/share/nginx/modules/*.conf;
      events {
         worker_connections 1024;
      }
      http {
         log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                           '$status $body_bytes_sent "$http_referer" '
                           '"$http_user_agent" "$http_x_forwarded_for"';
       access_log  /var/log/nginx/access.log  main;
       sendfile            on;
       tcp_nopush          on;
       tcp_nodelay         on;
       keepalive_timeout   65;
       types_hash_max_size 2048;
       include             /etc/nginx/mime.types;
       default_type        application/octet-stream;
       include /etc/nginx/conf.d/*.conf;
       index   index.html index.htm;
       ############################
       #  Configureacion Central  #
       ############################
       server {
         listen       80 default_server;
         server_name  localhost;
         # Prueba de Gbanchs
         #rewrite ^/(.*) https://millos-ssl2.appmillonariosfc.com/$1 permanent;
         root         /var/www/html/public;
         #return 301 https://$host$request_uri;
         # Load configuration files for the default server block.
         include /etc/nginx/default.d/*.conf;
         location / {
             index index.php;
         }
         # redirect server error pages to the static page /40x.html
         #
         error_page 404 /404.html;
         location = /40x.html {
         }
         # redirect server error pages to the static page /50x.html
         #
         error_page 500 502 503 504 /50x.html;
         location = /50x.html {
         }
         # PHP-FPM Configuration Nginx
         location ~ \.php$ {
           try_files $uri =404;
           fastcgi_split_path_info ^(.+\.php)(/.+)$;
           fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
           fastcgi_index index.php;
           fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
           include fastcgi_params;
           include fastcgi_params_env;
        }
       }
      }
  "/etc/nginx/conf.d/php-fpm.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      # PHP-FPM FastCGI server
      # network or unix domain socket configuration
      upstream php-fpm {
        server unix:/var/run/php-fpm/php-fpm.sock;
      }
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_RestartServer.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      service httpd stop
      service nginx start
