files:

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_restart_delayed_job.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
    #!/usr/bin/env bash
    #Remove Old PHP
    yum remove php* -y

    #Update Reposistory
    rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm
    rpm -Uvh https://mirror.webtatic.com/yum/el6/latest.rpm

    #Update Amaxon AMI
    yum upgrade -y

    #Install PHP
    #List of PHP packages https://webtatic.com/packages/php71/

    yum install php71w install php71w-cli  php71w-fpm php71w-mysql  php71w-xml php71w-curl  php71w-opcache php71w-pdo php71w-gd  php71w-pecl-apcu php71w-mbstring php71w-imap  php71w-pecl-redis php71w-mcrypt -y

    #change listen mode to CGI
    sed -i 's/127.0.0.1:9000/\/tmp\/php5-fpm.sock/g' /etc/php-fpm.d/www.conf

    /etc/init.d/php-fpm restart
    touch /tmp/php5-fpm.sock
    chmod 777 /tmp/php5-fpm.sock
    service nginx restart
