<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect todos los login del CMS al
    # sub-dominio CMS  de appmillonariosfc.com
    # Author: gbanchs
    # Date: 08/03/2018 6:36 a.m

    RewriteCond %{HTTP_HOST} !^cms.appmillonariosfc.com [NC]
    RewriteCond %{HTTP_HOST} !^millos-stg.2waysports.com [NC]
    RewriteCond %{HTTP_HOST} !^millos-dev.2waysports.com [NC]
    RewriteCond %{HTTP_HOST} !^dev.appmillonariosfc.com [NC]
    RewriteCond %{HTTP_HOST} !^stg.appmillonariosfc.com [NC]
    RewriteRule ^login(.*)$   - [F]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_php5.c>
   php_value upload_max_filesize 40M
   php_value post_max_size 40M
</IfModule>
