/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Tahoma';
    src: url('original_tahoma.eot?#iefix') format('embedded-opentype'), 
         url('original_tahoma.woff') format('woff'),
         url('original_tahoma.ttf') format('truetype'),
         url('original_tahoma.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}